@model List<PaisajesCosteros.Models.Imagen>
@{
	Layout = "~/Views/Shared/_LayoutPages.cshtml";
	string nombreCiudad = ViewBag.NombreCiudad ?? "";
}

<input type="hidden" id="nombreCiudad" value="@ViewBag.NombreCiudad" />

<div class="whole-wrap">
	<div class="container">
		<h1 class="gallery-title">
			@if (Model.Any())
			{
				<span>@Model.First().Imagen_nombre</span>
			}
			else
			{
				<span>No hay imágenes disponibles</span>
			}
		</h1>

		<div id="imagenesContainer">
			@Html.Partial("_ImagenesPaginadas", Model)
		</div>
	</div>
</div>

