@model List<PaisajesCosteros.Models.Imagen>
@{
	Layout = "~/Views/Shared/_LayoutPages.cshtml";
}

<div class="whole-wrap">
	<div class="container">
		<h1 class="gallery-title">
			@if (Model.Any())
			{
				<span>@Model.First().imagen_nombre</span>
			}
		</h1>
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-md-6 mb-4 d-flex align-items-stretch">
					<div class="card">
						<a href="@item.imagen_ruta" class="img-pop-up">
							<img src="@item.imagen_ruta" alt="@item.imagen_nombre" class="card-img-top img-hover">
						</a>
					</div>
				</div>
			}
		</div>
	</div>
</div>

