@{
    ViewData["Title"] = "Home Page";
}

<!-- start banner Area -->
<section class="default-banner active-blog-slider">
	<div class="item-slider relative" style="background: url(../Content/img/CarruselHeader/Antofa.jpg); background-size: cover;">
		<div class="overlay" style="background: rgba(0,0,0,.3)"></div>
		<div class="container">
			<div class="row fullscreen justify-content-center align-items-center">
				<div class="col-md-10 col-12">
					<div class="banner-content text-center">
						<h4 class="text-white mb-20 text-uppercase">Descubre la belleza de la Segunda Región de Chile, una tierra llena de historia, naturaleza y aventura</h4>
						<h1 class="text-uppercase text-white">Nuevas Experiencias</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="item-slider relative" style="background: url(../Content/img/CarruselHeader/Meji.jpg); background-size: cover;">
		<div class="overlay" style="background: rgba(0,0,0,.3)"></div>
		<div class="container">
			<div class="row fullscreen justify-content-center align-items-center">
				<div class="col-md-10 col-12">
					<div class="banner-content text-center">
						<h4 class="text-white mb-20 text-uppercase"> Desde las costas del Pacífico hasta los paisajes desérticos, nuestra región te invita a explorar sus secretos</h4>
						<h1 class="text-uppercase text-white">Rutas del Norte</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="item-slider relative" style="background: url(../Content/img/CarruselHeader/Toco.jpg); background-size: cover;">
		<div class="overlay" style="background: rgba(0,0,0,.3)"></div>
		<div class="container">
			<div class="row fullscreen justify-content-center align-items-center">
				<div class="col-md-10 col-12">
					<div class="banner-content text-center">
						<h4 class="text-white mb-20 text-uppercase">Vivir experiencias únicas y conocer los destinos más sorprendentes</h4>
						<h1 class="text-uppercase text-white">Destinos del Norte</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="item-slider relative" style="background: url(../Content/img/CarruselHeader/Tal.jpg); background-size: cover;">
		<div class="overlay" style="background: rgba(0,0,0,.3)"></div>
		<div class="container">
			<div class="row fullscreen justify-content-center align-items-center">
				<div class="col-md-10 col-12">
					<div class="banner-content text-center">
						<h4 class="text-white mb-20 text-uppercase">¡Déjate cautivar por los lugares que hacen de la Segunda Región un destino imperdible!</h4>
						<h1 class="text-uppercase text-white">Magia de Chile</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Start about Area -->
<section class="section-gap info-area" id="about">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center">
					<h1 class="mb-10">¿Por qué elegirnos?</h1>
					<p>Tu guía turística de la Segunda Región: Nos apasiona mostrarte los rincones más impresionantes de la Segunda Región de Chile, mientras promovemos un turismo respetuoso con el medio ambiente. Nuestra plataforma te invita a descubrir paisajes únicos y vivir experiencias inolvidables, fomentando siempre un viaje responsable y consciente. ¡Explora con nosotros y sé parte de un turismo sostenible!</p>
                </div>
            </div>
        </div>
        <div class="single-info row mt-40">
			<div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
				<div class="info-thumb">
					<img src="../Content/img/ruinas.jpg" class="img-fluid" alt="">
				</div>
				<div class="info-thumb">
					<img src="../Content/img/cerro.jpg" class="img-fluid" alt="">
				</div>
			</div>
            <div class="col-lg-6 col-md-12 no-padding info-rigth">
                <div class="info-content">
					<h2 class="pb-30">
						Comprometidos con el Patrimonio <br />
                        y el Medio Ambiente
					</h2>
					<p>
						En nuestra región, la naturaleza y la historia se entrelazan, ofreciendo un sinfín de maravillas que merecen ser protegidas. La conservación del medio ambiente y de los monumentos patrimoniales es fundamental para preservar la identidad y el legado cultural de la Segunda Región de Chile. Invitamos a todos los visitantes a ser parte de este esfuerzo, promoviendo un turismo responsable que respete y valore tanto los espacios naturales como los patrimoniales. Cuidemos juntos nuestro entorno, para que las futuras generaciones también puedan disfrutar de estos tesoros.
					</p>
                    <br>
					<p>
						Cada rincón de la Segunda Región de Chile guarda historias que nos conectan con el pasado y con la tierra que habitamos. La conservación de nuestros monumentos patrimoniales y ecosistemas es una tarea que nos involucra a todos. Desde las antiguas construcciones hasta los paisajes naturales, cada elemento es parte de nuestra identidad. Al elegir explorar estos lugares, también eliges ser un guardián de su futuro. Promovemos un turismo consciente que fomente el respeto, la educación y el cuidado de estos valiosos patrimonios para que sigan siendo una fuente de orgullo para las futuras generaciones.
					</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about Area -->
<!-- Start project Area -->
<section class="project-area section-gap" id="project">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-30 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Mapas Turísticos</h1>
					<p>Explora la Segunda Región con nuestros mapas turísticos. Encuentra rutas, destinos icónicos y lugares imperdibles para vivir una experiencia inolvidable<br>Ubica los principales puntos de interés de las ciudades de la Segunda Región</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex">
			<div class="active-works-carousel mt-40 col-lg-8">
				<div class="item">
					<img class="img-fluid" src="../Content/img/meji1.jpg" alt="">
					<div class="caption text-center mt-20">
						<h6 class="text-uppercase">Ruinas Históricas</h6>
						<p>Vestigios del pasado que narran la historia y cultura de la región.</p>
                    </div>
				</div>
				<div class="item">
					<img class="img-fluid" src="../Content/img/taltal1.jpg" alt="">
					<div class="caption text-center mt-20">
						<h6 class="text-uppercase">Paisajes Naturales</h6>
						<p>Escenarios impresionantes que muestran la belleza del desierto y el mar</p>
					</div>
				</div>
				<div class="item">
					<img class="img-fluid" src="../Content/img/paposo.jpg" alt="">
					<div class="caption text-center mt-20">
						<h6 class="text-uppercase">Monumentos Patrimoniales</h6>
						<p>Construcciones que representan el legado cultural de la zona.</p>
					</div>
				</div>
				<div class="item">
					<img class="img-fluid" src="../Content/img/taltal2.jpg" alt="">
					<div class="caption text-center mt-20">
						<h6 class="text-uppercase">Rutas y Senderos</h6>
						<p>Caminos que te llevan a explorar la naturaleza y la historia de la región</p>
					</div>
				</div>
			</div>
        </div>
    </div>
</section>
<!-- End project Area -->

<!-- start contact Area -->
<section class="contact-area section-gap" id="contact">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Formulario de contacto</h1>
                    <p>Puedes comunicarte con nosotros</p>
                </div>
            </div>
        </div>
        <form class="form-area " id="myForm" action="mail.php" method="post">
            <div class="row">
                <div class="col-lg-6 form-group">
                    <input name="name" placeholder="Ingrese Nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese Nombre'" class="common-input mb-20 form-control" required="" type="text">

                    <input name="email" placeholder="Ingrese Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese Email'" class="common-input mb-20 form-control" required="" type="email">

                    <input name="subject" placeholder="Ingrese Mensaje" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese Mensaje'" class="common-input mb-20 form-control" required="" type="text">
                </div>
                <div class="col-lg-6 form-group">
                    <textarea class="common-textarea mt-10 form-control" name="message" placeholder="Mensaje" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mensaje'" required=""></textarea>
                    <button class="primary-btn mt-20">Enviar<span class="lnr lnr-arrow-right"></span></button>
                    <div class="alert-msg">
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>
<!-- end contact Area -->		