@model IEnumerable<PaisajesCosteros.Models.PDF>

@{
    ViewData["Title"] = "PDF";
    Layout = "~/Views/Shared/_LayoutPages.cshtml";
}
<!-- About Generic Start -->
<div class="main-wrapper">
    <!-- Start feature Area -->
    <section class="feature-area section-gap" id="secvice">
        <div class="container">           
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-lg-4 col-md-6 ">
                        <div class="single-feature mb-30">
                            <div class="title d-flex flex-row pb-20">
                                <span class="lnr lnr-file-empty"></span>
                                <h4><a href="@Url.Content(item.Pdf_ruta)" target="_blank">@item.Pdf_nombre</a></h4>
                            </div>
                            <p>
                                @item.Pdf_descripcion
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- End feature Area -->
</div>