@model IEnumerable<PaisajesCosteros.Models.Video>

@{
    ViewData["Title"] = "Videos";
    Layout = "~/Views/Shared/_LayoutPages.cshtml";
}

<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="single-defination">
                            <h4 class="mb-20">@item.Video_nombre</h4>
                            <iframe style="width:100%;" src="@item.Video_ruta" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <p>@item.Video_descripcion</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
